name: flut_data_stream
description: A Flutter app that presents files as a series of QR codes
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  qr_flutter: ^4.1.0
  file_picker: ^8.1.2
  open_filex: ^4.7.0
  path_provider: ^2.1.1
  mobile_scanner: ^5.2.3
  permission_handler: ^11.3.1
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

